
layers/aid_28-rsp-resnet-50-ckpt.pth 14.47.48
layers/resnet50-19c8e357.pth 14.47.51
layers/.DS_Store

#hxx add
__pycache__/
aid_28-rsp-resnet-50-ckpt.pth
rs_data.zip
rs_data
checkpoint/rsitmd/SWAN/SWAN_best.pth.tar
.vector_cache