clip==1.0
fsspec==2024.3.1
fsspec==2024.2.0
ftfy==6.2.3
horovod==0.28.1
huggingface_hub==0.21.4
loguru==0.7.2
matplotlib==3.7.5
nltk==3.8.1
numpy==1.24.3
numpy==1.24.4
open_clip_torch==2.24.0
opencv_python==4.9.0.80
openpyxl==3.1.2
pandas==2.0.3
Pillow==10.4.0
pycocotools==2.0.7
pynvml==11.5.0
regex==2024.5.15
regex==2023.12.25
safetensors==0.4.5
seaborn==0.13.2
timm==1.0.9
torch==2.3.1
torchtext==0.17.1
torchvision==0.18.1
tqdm==4.66.2
transformers==4.38.2
